
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

#home{
    background-color: black;
    color: white;
    height: 630px;
}

.socials {
    padding: 30px;
    width: 180px;
    margin-left: 85%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 10px; 
    display: inline-block;
}

.fb {
    background: url('icons/facebook.svg');
}

.fb-black {
    background: url('icons/facebook-black.svg');
}

.tt {
    background: url('icons/twitter.svg');
}

.tt-black {
    background: url('icons/twitter-black.svg');
}

.ig {
    background: url('icons/instagram.svg');
}

.ig-black {
    background: url('icons/instagram-black.svg');
}

.arrow {
    background: url('icons/Flecha.svg');
    height: 32px;
    width: 14px;
    margin-top: 10px;
    text-align: center;
}

.arrow-black {
    background: url('icons/Flecha-preta.svg');
    height: 32px;
    width: 14px;
    margin-top: 10px;
    text-align: center;
}

h1 {
    margin-top: 120px;
    font-family: Eczar;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
}

h3{
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.scroll-down {
    margin-top: 145px;
    text-align: center;
}

.scroll-down p {
    font-family: Poppins;
    font-size: 12px;
}

/* */
#our-idea {
    height: 630px;
    background-color: #f2f2f2;
}
#our-idea .container{
    height: 560px;
    padding: 40px 130px 20px;
    display: flex;
    flex-wrap: nowrap;
}

#our-idea .container .text {
    width: 670px;
}

#our-idea .container .text h4 {
    font-family: Poppins;
    font-size: 35px;
    font-weight: semi-bold;
    width: 470px;
}

#our-idea .container .text p {
    font-family: Roboto Mono;
    font-size: 20px;
    margin-top: 20px;
}

#our-idea .container .title {
    margin: 0 0 0 90px;
}

#our-idea .container .title h1 {
    margin: 0;
    font-size: 90px;
    writing-mode: vertical-rl;
    color: black;
}

#our-idea .scroll-down {
    height: 70px;
    margin-top: 0;
} 

#our-team {
    height: 630px;
    background-color: black;
}

#our-team .container {
    padding: 0;
    flex-wrap: wrap;
}

#our-team .our-team-title {
    height: 120px;
    width: 200px;
    margin-left: 100px;
    margin-top: 50px;
}

#our-team h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 70px;
    line-height: 60px;
}

#our-team .our-team-members {
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#our-team .our-team-members .member{
    height: 100%;
    width: 300px;
    text-align: right;
    position: relative;
    transition: transform .2s;
}

#our-team .our-team-members .member:hover{
    transform: scale(1.5);
}

#our-team .our-team-members .member img {
    width: 220px;
    height: 100%;
}

#our-team .our-team-members .member .member-info{
    position: absolute;
    bottom: 2px;
    left: 2px;
    text-align: left;
}

#our-team .our-team-members .member h5{
    font-family: Poppins;
    font-size: 24px;
    color: white
}

#our-team .our-team-members .member p{
    font-family: Poppins;
    font-size: 16px;
    color: white
}

#our-team .scroll-down {
    color: white;
}


#our-jobs {
    height: 630px;
    background-color: black;
    /*padding-top: 60px;*/
}

.carousel-container{
    width: 100%;
    margin: auto;
    height: 75%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-container i{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    z-index: 10;
    cursor: pointer;
}

#jobs-title{
    font-family: Eczar;
    position: absolute;
    top: 20%; 
    color: white;
    -webkit-text-stroke: 2px black;
    font-size:140px;
    line-height: 120px;
    z-index: 9;
}

#jobs-title span{
    color: black;
    -webkit-text-stroke: 1.5px white;
}

#prevBtn {
    left: 5%;
}

#nextBtn {
    right: 5%;
}

.carousel-slide {
    display: flex;
    width: 100%;
    
}

.carousel-slide img{
    min-width: 100%;
    height: 100%;
}

#our-jobs .scroll-down {
    color: white;
    margin-top: 85px;
}

#contact {
    height: 630px;
    background-color: #f2f2f2;
}

#contact .container {
    height: 560px;
    padding: 0;
    flex-wrap: nowrap;
}

#contact .container .title {
    margin:0;
    padding:0;
    transform: rotate(180deg);
}

#contact .container .title h1 {
    margin: 0 140px;
    font-size: 90px;
    color: black;
    line-height: 100px;
    writing-mode: sideways-lr;
}

#contact .container .text {
    margin: 60px 0 0 0;
    width: 440px;
}

#contact .container .text h6 {
    margin-top: 80px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
}

#contact .container .text h2 {
    margin-top: 10px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
}

#contact .container .text .socials {
    margin:0;
}

#contact .container .text .socials{
    padding: 10px 0 0 0;
}

